
body {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 30px;
}

.home-header {
    padding-top: 20px;
}

.heading-search {
    margin-left: 10px;
}

.heading-search i {
    color: #333;
}

.heading-search-btn {
    border: none!important;
    border-radius: 0px!important;
    box-shadow: none!important;
}

.heading-hr {
    margin: 0;
    border-top: solid #e8e8e8;
    border-width: 1px;
}

.pure-menu-heading {
    float: right;
}