<div class="checkout-shipping-type-container">
    <div class="level checkout-shipping-type-item-first">
        <div class="level-left">
            <div class="level-item field">
                <input class="is-checkradio" id="radioNormalShipping" type="radio" name="exampleRadioInline" checked="checked" />
                <label for="radioNormalShipping" class="checkout-shipping-type-radio-label">Normal Shipping</label>
            </div>
        </div>

        <div class="level-right">
            <p class="level-item title is-6">$5.00</p>
        </div>
    </div>
    <div class="level">
        <div class="level-left">
            <div class="level-item field">
                <input class="is-checkradio" id="radioInternationalShipping" type="radio" name="exampleRadioInline" checked="checked" />
                <label for="radioInternationalShipping" class="checkout-shipping-type-radio-label">International Shipping</label>
            </div>
        </div>

        <div class="level-right">
            <p class="level-item title is-6">$20.00</p>
        </div>
    </div>
</div>