@model RetailBay.WebShop.Models.Checkout.IndexViewModel

<div style="border: 1px solid #d4d4d4; border-radius:5px; padding:20px; margin-right:20px; margin-top:40px;">

    <div class="level">
        @if (Model.ShippingAddress != null)
        {
            <div class="level-left">
                <p class="level-item">Ship to</p>
                <p class="level-item checkout-shipping-container-address-details">@($"{Model.ShippingAddress.StreetAddress} {Model.ShippingAddress.PostalCode} {Model.ShippingAddress.City}, {Model.ShippingAddress.Country}")</p>
            </div>

            <div class="level-right">
                <a asp-controller="Checkout" asp-action="changeaddress" class="level-item">Change</a>
            </div>
        }
        else
        {
            <div class="level-right">
                <a asp-controller="checkout" asp-action="addAddress" class="level-item">Add Address</a>
            </div>
        }

    </div>
</div>