<div style="border: 1px solid #d4d4d4; border-radius:5px; padding-left: 20px; padding-right: 20px; padding-bottom:20px; margin-right:20px; margin-top:40px;">
    <div class="level" style="border-bottom:1px solid #d4d4d4; padding-top:20px; padding-bottom:20px;">
        <div class="level-left">
            <div class="level-item field">
                <input class="is-checkradio" id="radioNormalShipping" type="radio" name="exampleRadioInline" checked="checked" />
                <label for="radioNormalShipping" style="margin:0; padding:0; padding-left:40px;">Normal Shipping</label>
            </div>
        </div>

        <div class="level-right">
            <p class="level-item title is-6">$5.00</p>
        </div>
    </div>
    <div class="level">
        <div class="level-left">
            <div class="level-item field">
                <input class="is-checkradio" id="radioInternationalShipping" type="radio" name="exampleRadioInline" checked="checked" />
                <label for="radioInternationalShipping" style="margin:0; padding:0; padding-left:40px;">International Shipping</label>
            </div>
        </div>

        <div class="level-right">
            <p class="level-item title is-6">$20.00</p>
        </div>
    </div>
</div>