@model RetailBay.WebShop.Models.Cart.IndexViewModel

@{
    ViewData["Title"] = "Cart";
}

<partial name="_SideMenu" model="Model.Categories" />
<div class="column is-10 container">
    <partial name="CartItems/_CartItems" model="Model.Products" />
    <br />
    <div class="column is-12">
        <h3 class="title is-5 has-text-right">Subtotal $@Model.Products.Sum(p => p.Price).ToString("###,###.##")</h3>
        <div class="container fluid">
            <a asp-controller="checkout" asp-action="index" class="button is-medium is-black is-pulled-right">CHECK OUT</a>
            <button type="button" class="button is-medium is-pulled-right">CONTINUE SHOPPING</button>
        </div>
    </div>
</div>
