@model IndexViewModel.ProductDTO

<div class="column is-one-third">
    <img src="https://cdn.shopify.com/s/files/1/0037/5472/products/SGT-1155B_01_2048x2048.jpg?v=1509388434" />
    <p class="has-text-centered">@Model.Name</p>
    <p class="has-text-centered">$@Model.ProductPrice.Price</p>
</div>