@model IndexViewModel.ProductDTO

<div class="column is-one-third">
    <img src="https://via.placeholder.com/360x360?text=RetailBay+Item" />
    <p class="has-text-centered">@Model.Name</p>
    <p class="has-text-centered">$@Model.ProductPrice.Price</p>
</div>