@model IndexViewModel

@{
    ViewData["Title"] = "Home Page";
}

@Html.AntiForgeryToken()
    <div class="columns is-multiline">
        @foreach (var product in Model.Products)
        {
            <partial name="_Product" model="product" />
        }
    </div>

<environment names="Development">
    <script src="~/js/basket.js" asp-append-version="true"></script>
</environment>