@model IndexViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="row" style="margin-top:50px;">
    @foreach (var product in Model.Products)
    {
        <div class="col-md-4" style="margin-bottom:40px;">
            <img src="https://dummyimage.com/600x400/000/fff" class="img-responsive" />
            <button type="button" class="btn btn-success btn-lg center-block" style="margin-top:15px;">[ADD TO BASKET]</button>
            <div class="text-center" style="font-size:25px;">@product.Name</div>
            <div class="text-center" style="font-size:25px;">$ @product.ProductPrice.Price</div>
        </div>
    }
</div>
 
