@model RetailBay.WebShop.Models.Checkout.IndexViewModel

@{
    ViewData["Title"] = "Shipping Address";
    Layout = "_LayoutCheckout";
}

<div class="column is-7 container" style="padding-top:80px;">
    <partial name="Shipping/_AddShippingAddress" model="new RetailBay.WebShop.Models.Checkout.NewAddressDTO()" />
</div>

<div class="column is-5" style="border-left:solid 1px #d4d4d4; background-color:#fafafa; padding-top:80px; padding-left:40px;">
    <partial name="Items/_CheckoutItems" model="Model.CartItems" />
    <partial name="Items/_GiftCard" />
    <partial name="Items/_TotalAmount" model="Model" />
</div>