@model RetailBay.WebShop.Models.Checkout.IndexViewModel

@{
    ViewData["Title"] = "Shipping Address";
    Layout = "_LayoutCheckout";
}

<div class="column is-7 container checkout-shipping-container">
    <partial name="Shipping/_Shipping" />
</div>

<div class="column is-5 checkout-items-container">
    <partial name="Items/_CheckoutItems" model="Model.CartItems" />
    <partial name="Items/_GiftCard" />
    <partial name="Items/_TotalAmount" model="Model" />
</div>