<div class="col-md-3 ">
    <div class="list-group ">
        <a asp-action="Profile" asp-controller="User" class="list-group-item list-group-item-action">Profile</a>
        <a asp-action="Addresses" asp-controller="User" class="list-group-item list-group-item-action">Addresses</a>
        <a asp-action="Orders" asp-controller="User" class="list-group-item list-group-item-action">Orders</a>
        <a href="#" class="list-group-item list-group-item-action">Settings</a>
    </div>
</div>