@model int

<button class="button"
        style="border: none;
            border-width: 0;
            box-shadow: none;">
    <span class="icon">
        <i class="fa fa-shopping-cart"></i>
    </span>
    <span>Cart (<span id="cart-count">@Model</span>)</span>
</button>