@model int

<a class="button" asp-controller="cart" asp-action="index"
        style="border: none;
            border-width: 0;
            box-shadow: none;">
    <span class="icon">
        <i class="fa fa-shopping-cart"></i>
    </span>
    <span>Cart (<span id="cart-count">@Model</span>)</span>
</a>