@model int

<div id="cart-container">
    <div id="cart">
        <i class="glyphicon glyphicon-shopping-cart" style="font-size:20px;" aria-hidden="true"></i>
    </div>
    @if (Model > 0)
    {
        <span id="itemCount" style="display:block;">@Model</span>
    }
    else
    {
        <span id="itemCount"></span>
    }
</div>