@model IEnumerable<RetailBay.WebShop.Models.Cart.CartItemDTO>

@foreach (var item in Model)
{
    <div class="level checkout-items-item-container">
        <div class="level-left checkout-items-item-image-and-title">
            <img src="https://cdn.shopify.com/s/files/1/0037/5472/products/SGT-1155B_01_100x100.jpg?v=1509388434" class="checkout-items-item-image" />
            <h6 class="level-item title is-6 checkout-items-item-title">@item.Name</h6>
        </div>

        <div class="level-left checkout-items-item-price">
            <h6 class="level-item title is-6">$@item.Price.ToString("###,###.##")</h6>
        </div>
    </div>
}