<div class="level checkout-items-gift-card-container">
    <input type="text"
           class="input column is-four-fifths checkout-items-gift-card-input"           
           placeholder="Gift Card" />
    <button class="button column is-medium checkout-items-gift-cart-button">Apply</button>
</div>