@using Microsoft.AspNetCore.Identity

@inject RetailBay.Core.Entities.SystemDb.Tenant Tenant;
@inject UserManager<RetailBay.Core.Entities.Identity.ApplicationUser> UserManager
@inject SignInManager<RetailBay.Core.Entities.Identity.ApplicationUser> SignInManager

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RetailBay.WebShop</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet"
              href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css" />
    </environment>   
</head>
<body class="container" style="max-width: 1280px;">
    <nav class="navbar" style="flex-wrap: wrap;">
        <div class="navbar-menu" style="border-bottom: solid 1px #e8e8e8">
            <div class="navbar-start">
                <div class="navbar-item">
                    <div class="field">
                        <p class="control has-icons-left">
                            <input class="input"
                                   type="text"
                                   placeholder="Search"
                                   style="border: none;
                    border-width: 0;
                    box-shadow: none;" />
                            <span class="icon is-small is-left">
                                <i class="fas fa-search"></i>
                            </span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        <button class="button"
                                style="border: none;
                border-width: 0;
                box-shadow: none;">
                            <span class="icon">
                                <i class="fa fa-shopping-cart"></i>
                            </span>
                            <span>Cart (1)</span>
                        </button>
                        <button class="button"
                                style="border: none;
                border-width: 0;
                box-shadow: none;">
                            Check Out
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div style="width:100%;">
            <br />
            <h1 class="title">
                Simple.
            </h1>
            <br />
        </div>
    </nav>

    <main class="columns is-fullheight" style="border-bottom: solid 1px #e8e8e8; padding-bottom: 40px;">
        @RenderBody()
    </main>

    <footer style="padding-bottom: 20px;">
        <secton class="columns"
                style="padding-top: 20px; padding-bottom: 20px; border-bottom: solid 1px #e8e8e8;">
            <aside class="menu column is-2">
                <p class="menu-label">
                    Links
                </p>
                <ul class="menu-list">
                    <li><a>Home</a></li>
                    <li><a>News</a></li>
                    <li><a>Our story</a></li>
                    <li><a>FAQ</a></li>
                    <li><a>Contact us</a></li>
                </ul>
            </aside>

            <div class="column is-5"></div>
            <div class="column is-5">
                <h4 class="title is-5">Be in the know</h4>
                <p>Sign up for the latest news, offers and styles</p>
                <div class="columns is-gapless" style="margin-top:15px;">
                    <input type="text"
                           class="input column is-four-fifths"
                           style="background-color:#f4f4f4; border-radius: 0; border:0; padding: 8px!important; "
                           placeholder="Your email" />
                    <button class="button column"
                            style="border-radius: 0; border:0; background-color: #333; color: white; padding: 9px 15px;">
                        SUBSCRIBE
                    </button>
                </div>
            </div>
        </secton>
        <p>Copyright © 2019, RetailBay.</p>
    </footer>

    <script defer
            src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</body>
</html>
